
@{
    ViewData["Title"] = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>test</h1>

<table>
    <tr>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Uyruk</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ramazan</td>
        <td>Öğrenci</td>
    </tr> 
    <tr>
        <td>2</td>
        <td>Alp</td>
        <td>Öğrenci</td>
    </tr>
</table>

