@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLeyout.cshtml";
}

<h1>Blog sayfası</h1>
<br />
<table>
    <tr>
        <th>ID</th>
        <th>Başlık</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID </td>
            <td>@item.BlogTitle </td>
        </tr>
    }
</table>